// showing default values
// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 18rem
$contentWidth = 75%

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px


.sidebar-heading{
  font-size:1.4em;
}
.icon.outbound{
  color:#89a9a4!important;
}

table
  margin 0 !important
th, td, tr
  border none !important